{% extends 'layoutloggedin.twig' %}

{% block body %}
<h1>{{ pageData.title }}</h1>
      <div class="row">
        <div class="col-md-8">
	        <! -- Status Panel -->
            <div class="table-responsive">
			<table class="table">
                <tbody>
                  <tr class="text-center">
                    <td>
                      <h4>TOTAL STUDIES</h4>
                      <span id="dashboard-total-studies">14</span>
                    </td>
                    <td>
                      <h5> <span class="glyphicon glyphicon-repeat glyphicon-padding-right"></span> RUNNING</h5>
                      <span class="dashboard-icons">10</span>
                    </td>
                    <td>
                      <h5> <span class="glyphicon glyphicon-ok glyphicon-padding-right"></span> COMPLETE</h5>
                      <span class="dashboard-icons">3</span>
                    </td>
                    <td>
                      <h5> <span class="glyphicon glyphicon-pencil glyphicon-padding-right"></span> DRAFT</h5>
                      <span class="dashboard-icons">1</span>
                    </td>
                    <td>
                      <h5> <span class="glyphicon glyphicon-book glyphicon-padding-right"></span> ARCHIVED</h5>
                      <span class="dashboard-icons">0</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
	        <! -- Studies Panel -->
          <div class="panel panel-default">
            <div class="panel-heading text-right">
                <a href="/newstudy.php"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create Study</button></a>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody class="table-active">
  			    {% for study in studies %}
                  <tr>
                    <td class="text-center">
                    	<!-- Display the correct icon based on study status -->
						{% if study.status == 'running' %}
						<span class="glyphicon glyphicon-repeat
						"></span>
						{% endif %}
						{% if study.status == 'complete' %}
						<span class="glyphicon glyphicon-ok"></span>
						{% endif %}
						{% if study.status == 'draft' %}
						<span class="glyphicon glyphicon-pencil"></span>
						{% endif %}
						{% if study.status == 'archived' %}
						<span class="glyphicon glyphicon-book"></span>
						{% endif %}
                      <p>{{study.status}}</p>
                    </td>
                    <td>
                      <a href="">{{study.name}}</a>
                      <p>{{study.description}}</p>
                    </td>
                    <td>{{study.dateCreated | date("M d, Y")}} at {{study.dateCreated | date("h:ia")}}</td>
                  </tr>
  			    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <! -- Details Panel -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-6">
                  <h4>Study Summary</h4>
                </div>
                <div class="col-md-6 text-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>              
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
                  </div>                
                </div>
              </div>
            </div>
            <div class="panel-body">
                <a href=""><h5> Eye Tracking</h5></a>
              <div class="row">
                <div class="col-md-7">
                  <p>This is a test study used while developing new code.</p>
                </div>
                <div class="col-md-5 text-right">
                    <button type="button" class="btn btn-default">Details <span class="glyphicon glyphicon-chevron-right"></span></button>              
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="active">
                    <th>Sessions</th>
                    <th>Participants</th>
                  </tr>
                </thead>
                <tbody>
                  {% for session in sessions %}
                  <tr>
                    <td>
                      <h5>{{session.sessionName}}</h5>
                      <p><b>Start:</b> {{session.sessionStartDateTime | date("M d, Y")}} at {{session.sessionStartDateTime | date("h:ia")}}</p>
                      <p><b>End:</b> {{session.sessionEndDateTime | date("M d, Y")}} at {{session.sessionEndDateTime | date("h:ia")}}</p>
                    </td>
                    <td>
                      <p>{{session.active}} Active</p>
                      <p>{{session.completed}} Completed</p>
                      <p>{{session.aborted}} Aborted</p>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
<!-- Period Data panel currently not implemented yet
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-md-12">
                  <h4>Study Periods</h4>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <p class="text-center">Period DATA goes here</p>
            </div>
          </div>
-->
       </div>
     </div>

{% endblock %}
